:root {
	color-scheme: light dark;
}
body {
	font-family: "Roboto", sans-serif;
	color: light-dark(#333b3c, #efefec);
	background-color: light-dark(#efedea, #223a2c);
}
main {
}
section {
	align-content: center;
	width: 100%;
	height: 100%;
}
h1 {
	margin: 0 auto;
}
